<form method="post" action="/login" id="login_form">
	<div class="content" style="padding-left: 120px">
		<h1><a href="#">Welcome to Devcamp Twitter!</a></h1>
		<p><input type="text" name="email" placeholder="Email address" /></p>
		<p><input type="password" name="password" placeholder="Password" /></p>
		<p><input type="submit" class="awesome" value="Log in!"></p>
	</div>
</form>